<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <nav th:replace="layout :: menu">(menu)</nav>

    <div class="container">
        <i class="bi bi-alarm-fill"></i>
        <h1 class="text-center">Home Page </h1>
        
        <div class="texto">
        
            <p >No Curso de Medicina, o professor se dirige ao aluno e pergunta:<br>
                -Quantos rins nós temos?<br>
                -Quatro! - Responde o aluno.<br>
                -Quatro? - Replica o professor, arrogante, daqueles que sentem prazer em tripudiar sobre os erros dos alunos.<br>
                -Traga um feixe de capim, pois temos um asno na sala. - ordena o professor a seu auxiliar.<br>
                -E para mim um cafezinho! - Replicou o aluno ao auxiliar do mestre.<br>
                O professor ficou irado e expulsou o aluno da sala.<br>
                O aluno era, entretanto, o humorista Aparício Torelly Aporelly (1895-1971), mais conhecido como o 'Barão de Itararé'.<br>
                Ao sair da sala, o aluno ainda teve a audácia de corrigir o furioso mestre:-<br>
                O senhor me perguntou quantos rins 'nós temos'. 'Nós' temos quatro: dois meus e dois seus. 'Nós' é uma expressão usada para o plural.<br>
                Tenha um bom apetite e delicie-se com o capim<br>
                A vida exige muito mais compreensão do que conhecimento!</p>
                

          
    
        </div>

        



    </div>
    <img class="pri" src="https://art.pixilart.com/sr22aa493abb121.png" text width=64 height=64/>
    <img class="seg" src="https://art.pixilart.com/sr2ae44a2c26e42.png" text width=64 height=64/>
    <img class="seg" src="https://art.pixilart.com/sr21d91a6e757fa.png" text width=64 height=64/>

    <div th:include="layout :: footer">(footer)</div>
</body>

</html>